[submodule "docker-postgres-1"]
	path = docker-postgres
	url = https://github.com/sainithin761000/docker-postgres.git
[submodule "Airbyte_Scripts"]
	path = Airbyte_Scripts
	url = https://github.com/sainithin761000/Airbyte_Scripts.git
[submodule "Docker-airbyte"]
	path = Docker-airbyte
	url = https://github.com/Sreeja070/Docker-airbyte.git	
