[submodule "docker-postgres"]
	path = docker-postgres
	url = https://github.com/sainithin761000/docker-postgres.git
[submodule "Airbyte_scripts"]
	path = Airbyte_scripts
	url = https://github.com/sainithin761000/Airbyte_Scripts
[submodule "Docker-airbyte"]
	path = Docker-airbyte
	url = https://github.com/sainithin761000/Docker-airbyte.git	
